<div class="topic-title">
  <p class="topic-title--p">{{topic?.title}}</p>
  <div class="topic-title__info">
    <p class="topic-title__info--p">
      <i class="fas fa-user"></i>
      {{currentUser?.username}}
    </p>
    <p class="topic-title__info--p">
      <i class="fas fa-clock"></i>
      {{topic?.date}}
      <i class="fas fa-eye eye-i"></i>
      {{topic?.views}}
    </p>
  </div>
</div>
<div class="topic-description">
  <div class="topic-description__left">
    <div class="topic-description__left__user">
      <img src="{{currentUser?.imageUrl}}" alt="avatar" class="topic-description__left__user--img">
      <p class="topic-description__left__user--username">
        <i class="fas fa-user"></i>
        {{currentUser?.username}}
      </p>
    </div>
  </div>
  <div class="topic-description__right">
    <div class="topic-description__right--description" [innerHTML]="topic?.description"></div>
    <div class="topic-description__right--tags" >
      <a href="" *ngFor="let tag of topic?.tags">#{{tag}}</a>
    </div>
  </div>
</div>
<button class="btn btn-primary w-100 my-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Yorum Yap</button>

<h3 class="mt-5 text-center">YORUMLAR</h3>
<div class="comment-filter d-flex justify-content-end">
  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" >
    <label (click)="getNewestTopics()" class="btn btn-outline-primary" for="btnradio1">Tarih - Yeniden Eskiye</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
    <label (click)="getOldestTopics()" class="btn btn-outline-primary" for="btnradio2">Tarih - Eskiden Yeniye</label>

  </div>
</div>
<div class="comments">
  <div class="comments__comment" *ngFor="let cmmnt of paginatedComments!">
    <div class="comments__comment__left">
      <div class="topic-description__left__user">
        <img src="{{cmmnt.user?.imageUrl}}" alt="avatar" class="comments__comment__left__user--img">
        <p class="comments__comment__left__user--username">
          <i class="fas fa-user"></i>
          {{cmmnt.user?.username}}
        </p>
      </div>
    </div>
    <div class="comments__comment__right">
      <div class="comments__comment__right--description" [innerHTML]="cmmnt.comment"></div>
      <div class="comments__comment__right__detail" >
        <div class="comments__comment__right__detail--date">
          <i class="fas fa-clock comment-i"></i>
          {{cmmnt.date}}
        </div>
        <div class="comments__comment__right__detail--settings">
          <button class="btn btn-primary comment-edit-btn" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editComment(cmmnt)">
            <i class="fas fa-edit"></i>
            Düzenle
          </button>
          <button class="btn btn-danger comment-edit-btn" (click)="deleteComment(cmmnt)">
            <i class="fas fa-trash"></i>
            Sil
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="comments__pagination">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }">
          <button class="page-link" (click)="changePage(currentPage - 1)">Önceki Sayfa</button>
        </li>
        <li class="page-item" *ngFor="let page of totalPages" [ngClass]="{ 'active': page === currentPage }">
          <button class="page-link" (click)="changePage(page)">{{ page }}</button>
        </li>
        <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPage }">
          <button class="page-link"  (click)="changePage(currentPage + 1)">Sonraki Sayfa</button>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="modal" id="exampleModal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Yorum Yap</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <form  [formGroup] = "commentsForm" (ngSubmit)="addComment()">
        <div class="modal-body">
          <angular-editor formControlName="cmmnt" [config]="Config"></angular-editor>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Kapat</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Kaydet</button>
        </div>
      </form>
    </div>
  </div>
</div>
