@import "src/app/scss/media-queries";
@import "src/app/scss/variables";


@mixin align-items-center{
  display: flex;
  align-items: center;
}


.topic-title{
  margin: 0;
  padding: 0.5rem ;

  border: 2px solid $border-color;
  border-radius: 0.35rem;
  background-color:#eae6e6;
  &--p{
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__info{
    @include align-items-center;
    justify-content: space-between;
    &--p{
      padding: 0 1rem;
      i{
        margin-right: 0.3rem;
        color: $primary-color;
        cursor: pointer;
      }
      .eye-i{
        margin-left: 1rem;
      }

    }
  }
}
.topic-description{
  display: flex;
  margin-top: 1rem;
  border: 2px solid #c9c3c3;
  border-radius: 0.35rem;
  background-color:#eae6e6;
  min-height: 15rem;
  &__left{
    top: 0;
    left: 0;
    width: 20%;
    background-color: #c9c3c3;
    border-radius: 0.35rem 0 0 0.35rem;

    &__user{
      @include align-items-center;
      flex-direction: column;
      height: 100%;
      padding: 1rem 0;
      &--img{
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        border-radius: 50%;
      }
      &--username{
        margin-top: 1rem;
        i{
          margin-right: 0.3rem;
          color: $primary-color;
        }

      }
    }
  }
  &__right{
    top: 0;
    right: 0;
    width: 80%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &--description{
      word-wrap: break-word;
    }
    &--tags{
      @include align-items-center;
      margin-top: 1rem;
      a{
        margin-right: 1rem;
        font-weight: bold;
        text-decoration: none;
        color: $primary-color;
      }
    }
  }
}

.comments{


  &__comment{
    display: flex;
    margin-top: 1rem;
    border: 2px solid rgb(105,135,154);
    border-radius: 0.35rem;
    background-color: #f5f1f1;

    &__left{
      top: 0;
      left: 0;
      width: 20%;
      background-color: rgb(105,135,154);

      &__user{
        @include align-items-center;
        flex-direction: column;
        height: 100%;
        padding: 1rem 0;
        &--img{
          width: 5rem;
          height: 5rem;
          object-fit: cover;
          border-radius: 50%;
        }
        &--username{
          margin-top: 1rem;
          i{
            margin-right: 0.3rem;
            color: $primary-color;
          }

        }
      }
    }
    &__right{
      top: 0;
      right: 0;
      width: 80%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &--description{
        word-wrap: break-word;
      }
      &--date{
        @include align-items-center;
        margin-top: 1rem;
        i{
          margin-right: 0.3rem;
          color: $primary-color;
        }

      }
    }
  }
}
