<div class="forum-topics">
  <div class="forum-topics__top">
    <div class="forum-topics__top__left">
      <p class="forum-topics__top__left--title">Forum Konuları</p>

    </div>
    <div class="forum-topics__top__right">
      <button (click)="openModal()"  class="new-topic-btn btn btn-primary">+ Yeni Konu</button>
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Sıralama
        </a>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" (click)="getOldestTopics()">Tarih - Eskiden Yeniye</button></li>
          <li><button class="dropdown-item"  (click)="getNewestTopics()">Tarih - Yeniden Eskiye</button></li>
          <li><button class="dropdown-item"  (click)="getViewsHighToLow()">Görüntülenme - Çoktan Aza</button></li>
          <li><button class="dropdown-item"  (click)="getViewsLowToHigh()">Görüntülenme - Azdan Çoğa</button></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="forum-topics__content">
    <app-topic-card [topic]="topic" (sendMessage)="deleteOrEditTopic($event,topic)"  *ngFor="let topic of paginatedTopics | topicFilter : sortType" (click)="cardClick(topic)"></app-topic-card>
  </div>
  <div class="forum-topics__bottom">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }">
          <a class="page-link" href="#" (click)="changePage(currentPage - 1)">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of totalPages" [ngClass]="{ 'active': page === currentPage }">
          <a class="page-link" href="#" (click)="changePage(page)">{{ page }}</a>
        </li>
        <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPage }">
          <a class="page-link" href="#" (click)="changePage(currentPage + 1)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="modal" id="topic-modal" *ngIf="isModalOpen">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Yeni Konu Oluştur</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <form [formGroup] ="topicForm" (ngSubmit)="addNewTopic()">
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Konu Başlığı</span>
            <input
                    formControlName="title"
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    [ngClass]="{ 'invalid-input': topicForm.get('title')?.invalid && topicForm.get('title')?.touched }"
            >
          </div>
          <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
          <div *ngFor="let tag of tags.controls; let i = index" class="tag-div">
            <div [formGroup]=tag>
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default2">Etiket</span>
                <input
                        formControlName="tagName"
                        type="text"
                        class="form-control"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default2"
                        [ngClass]="{ 'invalid-input': tag.get('tagName')?.invalid && tag.get('tagName')?.touched }"
                >
                <span class="input-group-text" >
                  <button type="button" class="btn btn- danger p-0" (click)="deleteTag(i)">X</button>
                </span>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary mb-2 mt-2" (click)="addTag()">Etiket Ekle</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Kapat</button>
          <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
      </form>
    </div>
  </div>
</div>
