<app-navbar></app-navbar>
<div class="page-content container d-flex mt-5 ">
  <div class="page-content__left rounded-4">
    <router-outlet></router-outlet>
  </div>
  <div class="page-content__right">
    <div class="page-content__right__tags rounded-4">
      <div class="tags-title">
        <p class="tags-title-p">Sık Kullanılan etiketler</p>
      </div>
      <div class="tags-content">
        <a class="tags-content--a" href="#">#Teknoloji</a>
        <a class="tags-content--a" href="#">#Araba</a>
        <a class="tags-content--a" href="#">#Yemek</a>
        <a class="tags-content--a" href="#">#Ekonomi</a>
        <a class="tags-content--a" href="#">#Sanat</a>
      </div>
    </div>
  </div>
</div>
