@import "src/app/scss/media-queries";
@import "src/app/scss/variables";


@mixin align-items-center{
  display: flex;
  align-items: center;
}

.topic-card{
  cursor: pointer;
  @include align-items-center;
  margin: 0.75rem 0.5rem;
  border: 1px solid $text-color;
  border-left: none;
  border-radius: 0.5rem;
  &--img{
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 0.5rem 0 0 0.5rem;
    margin-right: 0.5rem;

    @include mobile{
      width: 3rem;
      height: 3rem;
    }

  }
  &--username{
    border-right: 1px solid $text-color;
    height: 2.3rem;
    min-width: 8rem;

    margin: 0;
    padding-right: 1rem;

    @include mobile{
      min-height: 3rem;
      min-width: 10rem;
    }

    @include tablet{
      min-height: 3rem;
      min-width: 10rem;
      padding-right: 0;
    }
  }
  &--topic-title{
    border-right: 1px solid $text-color;
    height: 2.3rem;
    min-width: 26rem;
    margin: 0;

    padding: 0 0.5rem;
    @include mobile{
      min-width: 10rem;
      min-height: 3rem;
      border: none;

    }

    @include tablet{
      min-width: 10rem;
      min-height: 3rem;
      border: none;
    }
  }
  &--topic-date{
    border-right: 1px solid $text-color;
    height: 2.3rem;
    margin: 0;
    padding: 0 2rem;
    text-align: center;
    min-width: 14rem;

    @include mobile{
      display: none;
    }

    @include tablet{
      display: none;
    }

  }
  &--topic-views{
    height: 2.3rem;
    margin: 0;
    padding: 0 0.5rem;
    text-align: center;
    min-width: 5rem;
    @include mobile{
      display: none;
    }
    @include tablet{
      display: none;
    }
  }

  &__setting{
    @include align-items-center;
    height: 2.3rem;
    border-left: 1px solid $text-color;
    padding: 0;
    border-radius: 0;

    &--btn{
      background-color: transparent;
      border: none;
    }

  }
}
